[submodule "libctru"]
	path = libctru
	url = git@github.com:ron-popov/libctru-for-homemenu.git
[submodule "project_ctr"]
	path = project_ctr
	url = https://github.com/3DSGuy/Project_CTR.git
[submodule "citro3d"]
	path = citro3d
	url = https://github.com/devkitPro/citro3d.git
